* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --grey100-color: #5e6085;
    --grey200-color: #656689;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid var(--primary-color);
    border-radius: 99px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    background: none;
    transition: all 0.5s;
}

.btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: currentColor;
}

.btn--primary {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__link,
.navbar__link {
    color: var(--grey100-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.header-action__link:hover,
.navbar__link:hover {
    /* text-shadow: 1px 0 0 currentColor; */
    font-weight: 600;
    color: var(--primary-color);
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.2);
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -44px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    width: 186px;
    height: 244px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 100%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.2);
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
}

.hero-list-item__thumb {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero-list-item__title {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--primary-color);
}

.hero-list-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero-list-item:nth-child(3) .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero__heading {
    color: var(--primary-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.16;
}

.hero__desc {
    width: 391px;
    margin-top: 20px;
    color: var(--grey200-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
}

.hero__row {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    margin-right: 24px;
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}
